@import './SharedStyles.css';

/* Estilos generales */
body {
  background-color: #FFD;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Estilo para el contenedor principal */
.container {
  position: relative;
  width: 100%;
  padding: 20px; /* Asegura un espacio adecuado alrededor del contenido */
}

/* Título y nombre de la cerveza */
.header {
  text-align: center;
  margin-bottom: 20px; /* Espaciado entre el encabezado y el resto del contenido */
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.beer-name {
  font-size: 20px;
  color: #666;
  margin-top: 10px;
}

/* Cuadrado para la imagen */
.beer-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 329px;
  padding: 7px 72px 7px 71px;
  border-radius: 25px;
  border: 1px solid #000;
  background: #E5F5E5;
  margin: 0 auto; /* Centra horizontalmente */
  margin-bottom: 30px; /* Espaciado inferior */
}

.beer-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.image-placeholder {
  text-align: center;
  color: #666;
}

/* Cuadrado para la información */
.beer-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 14px 30px;
  border-radius: 25px;
  border: 1px solid #000;
  background: #73B0AB;
  margin: 0 auto; /* Centra horizontalmente */
  margin-bottom: 50px; /* Espaciado inferior */
}

.beer-info-list {
  list-style-type: none;
  padding: 0;
}

.beer-info-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Botón de volver */
button[type="button"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="button"]:hover {
  background-color: #0056b3;
}
  

/* Contenedor del slider (rating) */
.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 362px;
  height: 150px;
  padding: 14px 30px;
  border-radius: 25px;
  border: 1px solid #000;
  background: #73B0AB;
  margin: 0 auto; /* Centra horizontalmente */
  margin-bottom: 20px; /* Espaciado inferior */

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Encapsula toda la sección de reseñas (formulario + reseñas existentes) */
.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #000;
  background: #E5F5E5;
  margin: 0 auto; /* Centra horizontalmente */
  margin-top: 30px; /* Añadir espacio superior */
}

/* Estilo de cada reseña individual */
.review-box {
  width: 100%;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background: #f0f0f0;
  margin-bottom: 15px;
}

/* Formulario de reseñas */
.reviews-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.reviews-form textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 20px;  
  border-radius: 25px;
  background: #73B0AB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.reviews-form button {
  margin-right: 10px;
}

/* Botón de volver */
button[type="button"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="button"]:hover {
  background-color: #0056b3;
}
  