/* Contenedor principal del formulario */
.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFDD; /* Color de fondo del contenedor */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fuente divertida */
}

/* Estilos para el formulario */
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5F5E5; /* Color de fondo del formulario */
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-family: 'Irish Grover', cursive;
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 0;
}

/* Sección de cada campo */
.register-form div {
  margin-bottom: 15px;
  width: 100%;
}

/* Estilos para las etiquetas */
.register-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

/* Estilo para los campos de entrada */
.register-form input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background-color: #73B0AB; /* Color del input */
  color: #fff;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box; /* Evita que los inputs se salgan del contenedor */
}

/* Estilos para el botón de registro */
.register-form button {
  padding: 15px;
  background-color: #ff0077;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

/* Hover en el botón */
.register-form button:hover {
  background-color: #e6006f;
}

/* Título y subtítulo */
.register-container h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.register-container p {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilo para la sección de dirección */
.address-info {
  font-size: 16px;
  margin: 20px 0 0 0; /* Sin margen inferior */
  color: #333;
  text-align: center;
  border-bottom: 1px solid #333;
  width: 100%;
  padding-bottom: 5px; /* Espacio debajo del texto principal */
}

/* Estilo para el texto "(optional)" */
.optional {
  font-size: 12px;
  color: #888; /* Gris claro */
  text-align: center;
  display: block; /* Hace que esté en una línea separada */
  margin-top: 5px; /* Ajusta la distancia desde la línea */
  margin-bottom: 10px; /* Ajusta la distancia hacia abajo */
}



/* Coloca Line 1 y Line 2 en una fila */
.address-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Ajusta los inputs de Line 1 y Line 2 para que ocupen el 48% del ancho */
.address-container input {
  width: 48%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background-color: #73B0AB; /* Color de los inputs */
  color: #fff;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}
