@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

/* Contenedor principal aplicable a todas las pantallas */
.container {
  padding: 20px;
  background-color: #fffcdc;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

/* Estilo común para todos los títulos */
.title {
  font-family: 'Irish Grover', cursive;
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 0;
}

/* Contenedor de la barra de búsqueda, centrado */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Estilo común para los formularios de búsqueda */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilo común para los inputs de búsqueda */
.search-input {
  width: 100%;
  height: 42px;
  padding: 6px 46px 7px 20px;
  border-radius: 25px;
  background: #73B0AB;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

/* Estilo común para los botones de búsqueda */
.search-button {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 42px;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.map-container {
  position: relative;
  margin-top: 20px; /* Asegura un buen espacio entre el buscador y el mapa */
  display: flex;
  justify-content: center; /* Centra el mapa en el contenedor */
}
.map-wrapper {
  position: relative;
  margin-top: 20px; /* Espacio entre la barra de búsqueda y el mapa */
  display: flex;
  justify-content: center; /* Asegura que el mapa esté centrado */
  width: 100%;
  min-height: 450px; /* Ajusta esto según lo necesites */
  overflow: visible; /* Permite ver todo el contenido y hacer scroll */
}

.bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
